<section class="wrapper">
    <div class="container-fostrap">
        <div>
           
            <h1 class="heading">
                Pay your Bills 
            </h1>
        </div>
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card">
                            <img src="./assets/IAM-image.jpg" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a  (click)="checkAvailableBill('IAMRECHARGE')">IAM RECHARGES
                                  </a>
                                </h4>
                                <p class="">
                                   TELEPHONIE ET INTERNET SIM
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a  (click)="checkAvailableBill('IAMRECHARGE')" class="btn btn-link btn-block">
                                    Check Available bills
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card">
                            <img src="./assets/REDAL.jpeg" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                     REDAL
                                  
                                </h4>
                                <p class="">
                                   Facture REDAL
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a  (click)="checkAvailableBill('REDAL')" class="btn btn-link btn-block">
                                    Check Available bills
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card">
                            <img src="./assets/AMANDIS.png" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a >AMANDIS TANGER
                                  </a>
                                </h4>
                                <p class="">
                                   Facture AMANDIS tanger
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a (click)="checkAvailableBill('AMANDISTANGER')" class="btn btn-link btn-block">
                                    Check Available bills
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card">
                            <img src="./assets/IAM-image.jpg" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                   IAM FACTURES
                                 
                                </h4>
                               
                                  <ul>
                                     <li>PRODUIT INTERNET SIM</li> 
                                     <li>PRODUIT FIX SIM</li> 
                                     <li>PRODUIT MOBILE SIM</li> 
                                  </ul>
                              
                            </div>
                            <div class="card-read-more">
                                <a  (click)="checkAvailableBill('IAMFACTURES')" class="btn btn-link btn-block">
                                    Check Available bills
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card">
                            <img src="./assets/LYDEC.jpg" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    LYDEC
                                
                                </h4>
                                <p class="">
                                   Facture LYDEC
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a (click)="checkAvailableBill('LYDEC')" class="btn btn-link btn-block">
                                    Check Available bills
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card">
                            <img src="./assets/AMANDIS.png" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    AMANDIS CASABLANCA
                                  
                                </h4>
                                <p class="">
                                   Facture AMANDIS casablanca
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a class="btn btn-link btn-block" (click)="checkAvailableBill('AMANDISCASA')">
                                    Check Available bills
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
